/* Container */
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: Arial;
}

/* Form */
.form-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-box input {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.create-btn {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn:hover {
  background: #004bca;
}

/* Table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.styled-table th {
  background: #333;
  color: white;
  padding: 10px;
}

.styled-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Buttons */
.edit-btn {
  background: #ffc107;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}

.edit-btn:hover {
  background: #e0a800;
}

.delete-btn {
  background: #dc3545;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.delete-btn:hover {
  background: #b02a37;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
}

.modal input,
.modal textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.update-btn {
  background: #198754;
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.cancel-btn {
  background: #6c757d;
  padding: 8px 12px;
  border: none;
  color: white;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.update-btn:hover {
  background: #0f6a40;
}

.cancel-btn:hover {
  background: #565e64;
}
